<div class="container">
  <div class="my-4">
    <h1><%= @article.title %></h1>
    <% if logged_in? && @article.user == current_user %>
    <div class="btn-group">
      <%= link_to 'Delete', article_path(@article), method: :delete, class: "btn btn-outline-primary", data: { confirm: "Are you sure?" } %>
      <%= link_to 'Edit', edit_article_path(@article), method: :get, class: "btn btn-outline-primary" %>
      <%= link_to 'Back to list', articles_path, class: "btn btn-outline-primary" %>
    </div>
    <% end %>
  </div>
  <% if @article.user %>
  <%= render 'about_author' %>
  <% end %>
  <% if @article.categories.any? %>
  <%= render @article.categories %>
  <% end %>
  <div class="my-4">
    <%= @article.description %>
  </div>
</div>