<div class="container">
  <div class="card">
    <div class="card-header">
      <h1 class="text-center"><%= @user.username %> profile</h1>
    </div>
    <div class="card-body p-5">
      <%= gravatar_for @user, size: 200 %>
      <div class="text-center">
        <%= link_to 'Edit User', edit_user_path(@user), class: "btn btn-outline-success mt-4" %>
      </div>
      <h4 class="mt-4">Articles: </h4>
      <%= render 'articles/table' %>
      <%= will_paginate @articles %>
    </div>
  </div>
</div>
